In [1]:
import pandas as pd
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, Normalizer, StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv(r'C:\Users\kaohs\Desktop\Ironhack 2024\Labs\lab-customer-analysis-round-2\files_for_lab\csv_files\marketing_customer_analysis.csv',sep =',')
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

One Hot/Label Encoding (categorical).

In [3]:
df1=df.copy()
df1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [5]:
df1 = df1.dropna()

In [6]:
df1.select_dtypes("object")

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
10,HG93801,Arizona,No,Extended,High School or Below,1/2/11,Employed,M,Urban,Married,Corporate Auto,Corporate L3,Offer2,Branch,SUV,Large,A
13,KR82385,California,No,Basic,Master,1/26/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Two-Door Car,Medsize,A
16,FH51383,California,No,Basic,High School or Below,2/7/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer4,Call Center,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,No,Extended,High School or Below,1/24/11,Employed,F,Suburban,Married,Personal Auto,Personal L2,Offer2,Agent,Four-Door Car,Medsize,A
10903,SU71163,Arizona,No,Basic,College,1/7/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize,A
10904,QI63521,Nevada,No,Basic,High School or Below,2/24/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A

In [7]:
encoder = OneHotEncoder(drop='first')
encoder.fit(df1[["State", "Response", "Coverage", "Education", "Effective To Date", "EmploymentStatus", "Gender", "Location Code", "Marital Status", "Policy Type", "Policy", "Renew Offer Type", "Sales Channel", "Vehicle Class", "Vehicle Size", "Vehicle Type"]])

OneHotEncoder(drop='first')

In [8]:
encoder.transform(df1[["State", "Response", "Coverage", "Education", "Effective To Date", "EmploymentStatus", "Gender", "Location Code", "Marital Status", "Policy Type", "Policy", "Renew Offer Type", "Sales Channel", "Vehicle Class", "Vehicle Size", "Vehicle Type"]]).todense()

matrix([[0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 1., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 0., 1., ..., 0., 1., 0.],
        [1., 0., 0., ..., 0., 1., 0.]])

Concat DataFrames

In [9]:
encoder.categories_[0:16][1:]

[array(['No', 'Yes'], dtype=object),
 array(['Basic', 'Extended', 'Premium'], dtype=object),
 array(['Bachelor', 'College', 'Doctor', 'High School or Below', 'Master'],
       dtype=object),
 array(['1/1/11', '1/10/11', '1/11/11', '1/12/11', '1/13/11', '1/14/11',
        '1/15/11', '1/16/11', '1/17/11', '1/18/11', '1/19/11', '1/2/11',
        '1/20/11', '1/21/11', '1/22/11', '1/23/11', '1/24/11', '1/25/11',
        '1/26/11', '1/27/11', '1/28/11', '1/29/11', '1/3/11', '1/30/11',
        '1/31/11', '1/4/11', '1/5/11', '1/6/11', '1/7/11', '1/8/11',
        '1/9/11', '2/1/11', '2/10/11', '2/11/11', '2/12/11', '2/13/11',
        '2/14/11', '2/15/11', '2/16/11', '2/17/11', '2/18/11', '2/19/11',
        '2/2/11', '2/20/11', '2/21/11', '2/22/11', '2/23/11', '2/24/11',
        '2/25/11', '2/26/11', '2/27/11', '2/28/11', '2/3/11', '2/4/11',
        '2/5/11', '2/6/11', '2/7/11', '2/8/11', '2/9/11'], dtype=object),
 array(['Disabled', 'Employed', 'Medical Leave', 'Retired', 'Unemployed'],
       dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Rural', 'Suburban', 'Urban'], dtype=object),
 array(['Divorced', 'Married', 'Single'], dtype=object),
 array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object),
 array(['Corporate L1', 'Corporate L2', 'Corporate L3', 'Personal L1',
        'Personal L2', 'Personal L3', 'Special L1', 'Special L2',
        'Special L3'], dtype=object),
 array(['Offer1', 'Offer2', 'Offer3', 'Offer4'], dtype=object),
 array(['Agent', 'Branch', 'Call Center', 'Web'], dtype=object),
 array(['Four-Door Car', 'Luxury Car', 'Luxury SUV', 'SUV', 'Sports Car',
        'Two-Door Car'], dtype=object),
 array(['Large', 'Medsize', 'Small'], dtype=object),
 array(['A'], dtype=object)]

In [10]:
cols = [category for column_categories in encoder.categories_ for category in column_categories[1:]]
cols

['California',
 'Nevada',
 'Oregon',
 'Washington',
 'Yes',
 'Extended',
 'Premium',
 'College',
 'Doctor',
 'High School or Below',
 'Master',
 '1/10/11',
 '1/11/11',
 '1/12/11',
 '1/13/11',
 '1/14/11',
 '1/15/11',
 '1/16/11',
 '1/17/11',
 '1/18/11',
 '1/19/11',
 '1/2/11',
 '1/20/11',
 '1/21/11',
 '1/22/11',
 '1/23/11',
 '1/24/11',
 '1/25/11',
 '1/26/11',
 '1/27/11',
 '1/28/11',
 '1/29/11',
 '1/3/11',
 '1/30/11',
 '1/31/11',
 '1/4/11',
 '1/5/11',
 '1/6/11',
 '1/7/11',
 '1/8/11',
 '1/9/11',
 '2/1/11',
 '2/10/11',
 '2/11/11',
 '2/12/11',
 '2/13/11',
 '2/14/11',
 '2/15/11',
 '2/16/11',
 '2/17/11',
 '2/18/11',
 '2/19/11',
 '2/2/11',
 '2/20/11',
 '2/21/11',
 '2/22/11',
 '2/23/11',
 '2/24/11',
 '2/25/11',
 '2/26/11',
 '2/27/11',
 '2/28/11',
 '2/3/11',
 '2/4/11',
 '2/5/11',
 '2/6/11',
 '2/7/11',
 '2/8/11',
 '2/9/11',
 'Employed',
 'Medical Leave',
 'Retired',
 'Unemployed',
 'M',
 'Suburban',
 'Urban',
 'Married',
 'Single',
 'Personal Auto',
 'Special Auto',
 'Corporate L2',
 'Corporate L3',
 'Personal L1',
 'Personal L2',
 'Personal L3',
 'Special L1',
 'Special L2',
 'Special L3',
 'Offer2',
 'Offer3',
 'Offer4',
 'Branch',
 'Call Center',
 'Web',
 'Luxury Car',
 'Luxury SUV',
 'SUV',
 'Sports Car',
 'Two-Door Car',
 'Medsize',
 'Small']

In [11]:
df1[cols]=encoder.transform(df1[["State", "Response", "Coverage", "Education", "Effective To Date", "EmploymentStatus", "Gender", "Location Code", "Marital Status", "Policy Type", "Policy", "Renew Offer Type", "Sales Channel", "Vehicle Class", "Vehicle Size", "Vehicle Type"]]).todense()
df1

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [12]:
df1=df1.drop(["State", "Response", "Coverage", "Education", "Effective To Date", "EmploymentStatus", "Gender", "Location Code", "Marital Status", "Policy Type", "Policy", "Renew Offer Type", "Sales Channel", "Vehicle Class", "Vehicle Size", "Vehicle Type"],axis=1)
df1

,Unnamed: 0,Customer,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
2,2,LZ68649,14947.917300,22139,100,34.0,31,0.0,2,480.000000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,3,XL78013,22332.439460,49078,97,10.0,3,0.0,2,484.013411,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,10,HG93801,5154.764074,82730,127,13.0,31,0.0,1,442.521087,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,13,KR82385,5454.587929,66334,69,25.0,25,0.0,4,331.200000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
16,16,FH51383,5326.677654,76717,66,26.0,10,0.0,6,300.528579,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,3579.023825,28304,91,10.0,30,2.0,1,655.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10903,10903,SU71163,2771.663013,59855,74,30.0,82,4.0,1,355.200000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
10904,10904,QI63521,19228.463620,0,187,14.0,32,0.0,2,897.600000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
10906,10906,KX53892,5259.444853,61146,65,7.0,68,0.0,6,273.018929,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10908,10908,WA60547,11971.977650,64195,158,0.0,27,4.0,6,618.288849,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

Train-test split.

In [13]:
X = df1.drop(['Unnamed: 0','Customer', 'Total Claim Amount'], axis=1)
y = df1['Total Claim Amount']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
y_train

4660     537.600000
2050     303.872752
3735     422.765363
6372     178.006524
2048     221.359492
            ...
10638    425.964628
1144     412.800000
7591     297.600000
9134     882.871945
2147      55.510526
Name: Total Claim Amount, Length: 3180, dtype: float64

Apply linear regression.

In [16]:
lm = LinearRegression()
lm.fit(X,y)
lm.coef_

array([-7.39571596e-04, -3.40038859e-04,  4.79616440e+00,  3.05901832e-01,
       -2.93126024e-02, -1.90216668e+00,  1.96772027e+00, -2.07169490e+00,
       -4.96995650e+00, -5.37554793e+00, -3.23027252e+00, -2.58624207e+01,
       -2.28725291e+00,  9.15741114e+00, -9.74278180e+00, -1.99574566e+01,
        9.04954859e+00, -1.92139673e+01,  3.35282266e+00, -2.08910886e+01,
       -1.87559497e+01, -1.99456742e+01,  6.89533392e+00, -4.35962993e-01,
       -9.45549598e+00, -2.34672898e+01, -2.96316123e+01, -3.18821901e+01,
        2.18062863e+00,  1.15068760e+00, -1.04395524e+01, -1.06364270e+01,
       -1.21317781e+01, -4.04210650e+01, -7.49218552e+00, -7.80440731e+00,
       -1.77973345e+01, -2.18459343e+00,  1.52552271e+01,  1.71764898e+01,
       -3.78490945e+01, -1.22948094e+01, -3.32377999e+01, -1.32347874e+01,
        3.42897643e+00, -2.59389169e+01, -2.40517630e+01, -4.07617552e+01,
        6.00813727e+00, -2.97631240e+00, -1.62429749e+01, -1.85337387e+01,
        4.49521187e+00, -2.37605932e+01, -2.77128524e+01, -3.56733493e+01,
        1.03280375e+01, -2.65888064e+01, -2.07481358e+01, -5.15551796e+00,
        2.87931432e+01, -5.69757458e+00,  2.70406526e+01, -3.32671261e+01,
       -1.26168091e+01, -1.85919079e+01, -2.13952773e+00, -6.02399906e+00,
       -3.57107072e+01, -1.16772467e+01,  8.24329395e-02,  4.35370562e-01,
       -7.38896560e+00,  3.25762286e-01, -1.83711672e+01, -2.36206014e+01,
       -1.15126321e+01,  1.51633048e+01, -1.90282112e+01,  5.69380563e+01,
        1.86388199e+01,  3.78388305e+02,  2.20162020e+02, -1.10537267e+01,
        5.96413690e+01,  3.45862792e+00,  1.41074614e+01, -1.18517179e+01,
        4.26413450e+00,  7.38955280e+00,  2.19840371e+00, -6.12932858e+00,
        4.36737349e+01, -1.23158141e+01, -1.72504593e+01,  1.31498013e+01,
        7.47872880e+00,  5.68183980e+00,  2.06723095e+00,  6.57231386e+00,
        9.47055380e-01,  7.95616862e+01,  5.19697738e+01,  8.76286414e+00,
       -1.93556904e+01, -3.85786073e-01, -6.55405546e+00,  4.74987636e+00])

Description:
R2.
MSE.
RMSE.
MAE.

In [22]:
predictions = lm.predict(X)

rmse = mean_squared_error(y, predictions, squared=False)
mae = mean_absolute_error(y, predictions)
print("R2_score:", round(lm.score(X,y),2))
print("RMSE:", rmse)
print("MAE:", mae)

R2_score: 0.77
RMSE: 140.21528925630545
MAE: 96.61849110551984